<div ng-controller="loginController" class="login-component container">
	<form class="form-signin" name="loginForm" ng-submit="loginUser()">
		<div class="form-group">
			<label for="description" class="control-label mandatory-field">User ID</label>
			<input type="text" ng-model="formParams.logonId" name="logonId" class="form-control" required ng-pattern="/^[a-zA-Z0-9\-]+$/" placeholder="allowed characters: a-z,A-Z,0-9,_" autofocus>
			<span class="formErrors" ng-hide="loginForm.logonId.$valid">Please enter User ID</span>
		</div>
		<div class="form-group">
			<label for="description" class="control-label mandatory-field">Password</label>
			<input type="password" ng-model="formParams.logonPassword" name="logonPassword" class="form-control" required>
			<span class="formErrors" ng-hide="loginForm.logonPassword.$valid">Please enter Password</span>
		</div>
		<button ng-disabled="!loginForm.$valid" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
		<div class="mandatory-field-disclaimer"><small>Indicates required field</small></div>		
	</form>	
	
	<button class="btn btn-lg btn-default btn-block" ng-click="shopAsGuest()">Start Shopping as Guest</button>
</div>	