@media (min-width: 1000px) {
  /* line 3, ../sass/main.scss */
  .user-group .dropdown-menu.dropdown-menu-form.applyColumns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1000px) {
/*  line 10, ../sass/main.scss */
  .dealer-codes .dropdown-menu.dropdown-menu-form {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 6;
  }
}

/* line 18, ../sass/main.scss */
.breadcrumb {
  margin-top: 7px;
  background: none !important;
  padding-bottom: 0px;
}

/* line 23, ../sass/main.scss */
.formErrors {
  color: red;
  font-size: 0.8em;
}

/* line 27, ../sass/main.scss */
.offers-tooltip {
  float: right;
  margin-top: 5px;
}

/* line 31, ../sass/main.scss */
.offers-tooltip span {
  text-indent: 5em;
}

/* line 34, ../sass/main.scss */
.datepicker {
  float: left;
  padding-top: 34px;
}

/* line 38, ../sass/main.scss */
.ui-grid-pager-max-pages-number {
  vertical-align: middle !important;
}

/* line 41, ../sass/main.scss */
.ui-grid-pager-count {
  display: none;
}

/* line 44, ../sass/main.scss */
.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* line 62, ../sass/main.scss */
.grid-tooltip {
  overflow: visible;
  z-index: 9999999;
  float: left;
}

/* Refresh Cache Section */
/* line 70, ../sass/main.scss */
.refresh-cache-container .form-section {
  margin-bottom: 20px;
}

/* Error Container */
/* line 78, ../sass/main.scss */
.error-container ul {
  list-style: none;
}

/* Offer table header */
.offer-header {
  background-color: #337ab7; 
  color: #FFF;
}

/* Left margin */
.left-margin {
  margin-left: 3em;
}

.mandatory-field::after {
	content: "*";
	margin-left: 5px;
	color: red;
	font-size:15px;
}

.mandatory-field-disclaimer {
	margin-top:2px;
	color:gray;
}

.mandatory-field-disclaimer::before {
	content: "*";
	margin-right: 5px;
	color: red;
	font-size:12px;
}
